<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Mr. TURTLE</h1> 
            <h2>- The Unmanned Radio Telemetry Limno-Explorer</h2>
            <p>Welcome to our USV-Project Page</p>
        </header>
        <p>We – a group of master students of Physical Geography and Geoarcheology of Philipps-University Marburg – want to
        <ul>
            <li>contribute to improve knowledge of the state of river- and lakebeds as well as riparian areas</li>
            <li>facilitate excess to this knowledge for every citizen</li>
            <li>introduce a cost-effective Do-it-Your-Self approach, how to take environmental data in this field</li>
            <li>supply a simple technical guideline combined with basic informatic and UAV-based instructions</li>
        </ul>
            by building a remotely controlled swimming platform (Mr. TURTLE) stuffed with a sonar, lidar and several other sensors. This website shows our working procedure and explains how you can get on board!</p>
        <ul class="actions">
            <li><a href="{{ 'abstract.html' | absolute_url }}" class="button big">Read Abstract</a></li>
            <li><a href="{{ 'Who.html' | absolute_url }}" class="button big">Who is Mr. Turtle?</a></li>
        </ul>
    </div>
    
    <video style="width: 642px; height: 361px; top: 6px; right: 180px; margin-right: 100px; margin-top: 200px; margin-left: 100px; margin-bottom: 100px; border-right: 0; border-top: 0; border-left: 0; border-bottom: 0;" controls>
           <source src="{{ 'assets/images/TestRun/index_trans3.mp4' | absolute_url }}" type="video/mp4">
    </video>

</section>
