<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Mr. TURTLE</h1> 
            <h2>- The Unmanned Radio Telemetry Limno-Explorer</h2>
            <p>Welcome to our USV-Project Page</p>
        </header>
        <p>We – a group of master students of Physical Geography and Geoarcheology of Philipps-University Marburg – want to
        <ul>
            <li>contribute to improve knowledge of the state of river- and lakebeds as well as riparian areas</li>
            <li>facilitate excess to this knowledge for every citizen</li>
            <li>introduce a cost-effective Do-it-Your-Self approach, how to take environmental data in this field</li>
            <li>supply a simple technical guideline combined with basic informatic and UAV-based instructions</li>
        </ul>
            by building a remotely controlled swimming platform (Mr. TURTLE) stuffed with a sonar, lidar and several other sensors. This website shows our working procedure and explains how you can get on board!</p>
        <ul class="actions">
            <li><a href="{{ 'abstract.html' | absolute_url }}" class="button big">Read Abstract</a></li>
        </ul>
    </div>
    
    <span class="image object">
            <img src="assets/images/pic10.jpg" alt="" />
        <ul class="actions fit", style="margin-top: 20px", style="float:bottom;">
            <li><a href="{{ 'abstract.html' | absolute_url }}" class="button fit">Who is Mr. Turtle?</a></li>
        </ul>
    </span>

</section>
